<ion-header [translucent]="true">
  <ion-toolbar color="verde">
    <ion-title>
      <h1><b>TOP 3</b></h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true" color="black">
    <div>
      <ion-item lines="full" color="verde">
        <ion-label>
          <h1><b>Britney Spears</b></h1>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://cdns-images.dzcdn.net/images/cover/8a2b95cda407d004d829831d20e2e20b/500x500.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2><b>Toxic</b></h2>
          <p>581.323.142</p>
        </ion-label>
        <ion-badge slot="end" color="black">3:18</ion-badge>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://i.pinimg.com/564x/d8/07/95/d80795c999e2857ad0a6bffb002262da.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2><b>Oops!...I Did It Again</b></h2>
          <p>399.379.134</p>
        </ion-label>
        <ion-badge slot="end" color="black">3:31</ion-badge>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://pbs.twimg.com/media/DqOV9cLUUAA_zog.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2><b>...Baby One More Time</b></h2>
          <P>398.317.854</P>
        </ion-label>
        <ion-badge slot="end" color="black">3:31</ion-badge>
      </ion-item>
    </div>

    <div>
      <ion-item lines="full" color="verde">
        <ion-label>
          <h1><b>Bruno Mars</b></h1>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://upload.wikimedia.org/wikipedia/pt/1/19/Bruno_Mars-24K_Magic.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2><b>That's What I Like</b></h2>
          <p>1.235.467.905</p>
        </ion-label>
        <ion-badge slot="end" color="black">3:26</ion-badge>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://i1.sndcdn.com/artworks-000141291075-uyqdpr-t500x500.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2><b>Just The Way You Are</b></h2>
          <p>1.016.255.427</p>
        </ion-label>
        <ion-badge slot="end" color="black">3:40</ion-badge>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://cdns-images.dzcdn.net/images/cover/2ae8e9f1714cc6cc9393f7873008f45c/500x500.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2><b>When I Was Your Man</b></h2>
          <p>984.518.568</p>
        </ion-label>
        <ion-badge slot="end" color="black">3:33</ion-badge>
      </ion-item>
    </div>

    <div>
      <ion-item lines="full" color="verde">
        <ion-label>
          <h1><b>Harry Styles</b></h1>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2019/12/23/134355_1341763.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2><b>Watermelon Sugar</b></h2>
          <p>1.268.817.066</p>
        </ion-label>
        <ion-badge slot="end" color="black">2:54</ion-badge>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2019/12/23/134355_1341763.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2><b>Adore You</b></h2>
          <p>849.977.634</p>
        </ion-label>
        <ion-badge slot="end" color="black">3:27</ion-badge>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://www.popsdiscos.com.br/images/uploads/BMG43677-2.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2><b>Sign Of The Times</b></h2>
          <p>846.911.213</p>
        </ion-label>
        <ion-badge slot="end" color="black">5:40</ion-badge>
      </ion-item>
    </div>

    <div>
      <ion-item lines="full" color="verde">
        <ion-label>
          <h1><b>Justin Bieber</b></h1>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="http://s2.glbimg.com/3wYeYp9cP6nYMd7DVTkrsTLZuHA=/290x290/s2.glbimg.com/UNUU2P5SxHa_LP4kJcpgkr97MPI=/s.glbimg.com/jo/g1/f/original/2015/10/13/justin-bieber-purpose.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2><b>Love Yourself</b></h2>
          <p>1.582.272.125</p>
        </ion-label>
        <ion-badge slot="end" color="black">3:53</ion-badge>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="http://s2.glbimg.com/3wYeYp9cP6nYMd7DVTkrsTLZuHA=/290x290/s2.glbimg.com/UNUU2P5SxHa_LP4kJcpgkr97MPI=/s.glbimg.com/jo/g1/f/original/2015/10/13/justin-bieber-purpose.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2><b>Sorry</b></h2>
          <p>1.465.407.304</p>
        </ion-label>
        <ion-badge slot="end" color="black">3:20</ion-badge>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://upload.wikimedia.org/wikipedia/pt/6/64/Hold_On_-_Justin_Bieber.png">
        </ion-thumbnail>
        <ion-label>
          <h2><b>Hold On</b></h2>
          <p>250.499.601</p>
        </ion-label>
        <ion-badge slot="end" color="black">2:50</ion-badge>
      </ion-item>
    </div>

    <div>
      <ion-item lines="full" color="verde">
        <ion-label>
          <h1><b>Olivia Rodrigo</b></h1>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://s2.glbimg.com/XKc4iWAR1rOmbCK55PGBymr1W6w=/0x0:2000x2000/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/2/h/WCTKdxRVGnhyoE1A6jiA/oliviacapa.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2><b>Drivers License</b></h2>
          <p>855.190.201</p>
        </ion-label>
        <ion-badge slot="end" color="black">4:02</ion-badge>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://s2.glbimg.com/XKc4iWAR1rOmbCK55PGBymr1W6w=/0x0:2000x2000/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/2/h/WCTKdxRVGnhyoE1A6jiA/oliviacapa.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2><b>Good 4 u</b></h2>
          <p>321.521.078</p>
        </ion-label>
        <ion-badge slot="end" color="black">4:02</ion-badge>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://s2.glbimg.com/XKc4iWAR1rOmbCK55PGBymr1W6w=/0x0:2000x2000/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/2/h/WCTKdxRVGnhyoE1A6jiA/oliviacapa.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2><b>Deja Vu</b></h2>
          <p>300.999.119</p>
        </ion-label>
        <ion-badge slot="end" color="black">3:35</ion-badge>
      </ion-item>
    </div>

    <div>
      <ion-item lines="full" color="verde">
        <ion-label>
          <h1><b>Shawn Mendes</b></h1>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://images-na.ssl-images-amazon.com/images/I/71Iw18bODyL._AC_SL1090_.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2><b>Senõrita</b></h2>
          <p>1.856.983.667</p>
        </ion-label>
        <ion-badge slot="end" color="black">3:10</ion-badge>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://www.vagalume.com.br/shawn-mendes/discografia/illuminate.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2><b>Treat You Better</b></h2>
          <p>1.342.934.852</p>
        </ion-label>
        <ion-badge slot="end" color="black">3:07</ion-badge>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://lastfm.freetls.fastly.net/i/u/770x0/4cb6947c3285054651119ffe1e7516d9.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2><b>Stitches</b></h2>
          <p>1.293.710.093</p>
        </ion-label>
        <ion-badge slot="end" color="black">3:26</ion-badge>
      </ion-item>
    </div>
</ion-content>
