<ion-header [translucent]="true">
  <ion-toolbar color="verde">
    <ion-title>
      <h1><b>Álbuns</b></h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="black">


  <ion-grid class="ion-text-center ion-no ion-no-padding ">


      <ion-row class="ion-no-padding">
        <ion-col size="6" class="ion-no-padding">
          <ion-card>
            <img src="https://cdns-images.dzcdn.net/images/cover/8a2b95cda407d004d829831d20e2e20b/500x500.jpg" alt="">
            <ion-item lines="none">
              <ion-label>
                In The Zone
              </ion-label>
            </ion-item>
            <p>Britney Spears</p>
            <ion-item lines="none" class="ion-no-padding">
              <ion-badge slot="end" color="medium">2003</ion-badge>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col size="6" class="ion-no-padding">
          <ion-card>
            <img src="https://i.pinimg.com/564x/d8/07/95/d80795c999e2857ad0a6bffb002262da.jpg" alt="">
            <ion-item lines="none">
              <ion-label>
                Oops!...I Did It Again
              </ion-label>
            </ion-item>
            <p>Britney Spears</p>
            <ion-item lines="none" class="ion-no-padding">
              <ion-badge slot="end" color="medium">2008</ion-badge>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>

        <ion-row class="ion-no-padding">
          <ion-col size="6" class="ion-no-padding">
            <ion-card>
              <img src="https://pbs.twimg.com/media/DqOV9cLUUAA_zog.jpg" alt="">
              <ion-item lines="none">
                <ion-label>
                  ...Baby One More Time
                </ion-label>
              </ion-item>
              <p>Britney Spears</p>
              <ion-item lines="none" class="ion-no-padding">
                <ion-badge slot="end" color="medium">1999</ion-badge>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card>
              <img src="https://upload.wikimedia.org/wikipedia/pt/1/19/Bruno_Mars-24K_Magic.jpg" alt="">
              <ion-item lines="none">
                <ion-label>
                  24K Magic
                </ion-label>
              </ion-item>
              <p>Bruno Mars</p>
              <ion-item lines="none" class="ion-no-padding">
                <ion-badge slot="end" color="medium">2016</ion-badge>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row class="ion-no-padding">
          <ion-col size="6" class="ion-no-padding">
            <ion-card>
              <img src="https://i1.sndcdn.com/artworks-000141291075-uyqdpr-t500x500.jpg" alt="">
              <ion-item lines="none">
                <ion-label>
                  Doo-Wops & Hooligans
                </ion-label>
              </ion-item>
              <p>Bruno Mars</p>
              <ion-item lines="none" class="ion-no-padding">
                <ion-badge slot="end" color="medium">2010</ion-badge>
              </ion-item>
            </ion-card>
          </ion-col>

          <ion-col size="6" class="ion-no-padding">
            <ion-card>
              <img src="https://cdns-images.dzcdn.net/images/cover/2ae8e9f1714cc6cc9393f7873008f45c/500x500.jpg" alt="">
              <ion-item lines="none">
                <ion-label>
                  Unorthodox Jukebox
                </ion-label>
              </ion-item>
              <p>Bruno Mars</p>
              <ion-item lines="none" class="ion-no-padding">
                <ion-badge slot="end" color="medium">2012</ion-badge>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row class="ion-no-padding">
          <ion-col size="6" class="ion-no-padding">
            <ion-card>
              <img src="https://s3.amazonaws.com/media.thecrimson.com/photos/2019/12/23/134355_1341763.jpg" alt="">
              <ion-item lines="none">
                <ion-label>
                  Fine Line
                </ion-label>
              </ion-item>
              <p>Harry Styles</p>
              <ion-item lines="none" class="ion-no-padding">
                <ion-badge slot="end" color="medium">2019</ion-badge>
              </ion-item>
            </ion-card>
          </ion-col>

          <ion-col size="6" class="ion-no-padding">
            <ion-card>
              <img src="https://www.popsdiscos.com.br/images/uploads/BMG43677-2.jpg" alt="">
              <ion-item lines="none">
                <ion-label>
                  Harry Styles
                </ion-label>
              </ion-item>
              <p>Harry Styles</p>
              <ion-item lines="none" class="ion-no-padding">
                <ion-badge slot="end" color="medium">2017</ion-badge>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row class="ion-no-padding">
          <ion-col size="6" class="ion-no-padding">
            <ion-card>
              <img src="http://s2.glbimg.com/3wYeYp9cP6nYMd7DVTkrsTLZuHA=/290x290/s2.glbimg.com/UNUU2P5SxHa_LP4kJcpgkr97MPI=/s.glbimg.com/jo/g1/f/original/2015/10/13/justin-bieber-purpose.jpg" alt="">
              <ion-item lines="none">
                <ion-label>
                  Purpose
                </ion-label>
              </ion-item>
              <p>Justin Bieber</p>
              <ion-item lines="none" class="ion-no-padding">
                <ion-badge slot="end" color="medium">2015</ion-badge>
              </ion-item>
            </ion-card>
          </ion-col>

          <ion-col size="6" class="ion-no-padding">
            <ion-card>
              <img src="https://upload.wikimedia.org/wikipedia/pt/6/64/Hold_On_-_Justin_Bieber.png" alt="">
              <ion-item lines="none">
                <ion-label>
                  Hold On
                </ion-label>
              </ion-item>
              <p>Justin Bieber</p>
              <ion-item lines="none" class="ion-no-padding">
                <ion-badge slot="end" color="medium">2021</ion-badge>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>


        <ion-row class="ion-no-padding">
          <ion-col size="6" class="ion-no-padding">
            <ion-card>
              <img src="https://s2.glbimg.com/XKc4iWAR1rOmbCK55PGBymr1W6w=/0x0:2000x2000/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/2/h/WCTKdxRVGnhyoE1A6jiA/oliviacapa.jpg" alt="">
              <ion-item lines="none">
                <ion-label>
                  Sour
                </ion-label>
              </ion-item>
              <p>Olivia Rodrigo</p>
              <ion-item lines="none" class="ion-no-padding">
                <ion-badge slot="end" color="medium">2021</ion-badge>
              </ion-item>
            </ion-card>
          </ion-col>

          <ion-col size="6" class="ion-no-padding">
            <ion-card>
              <img src="https://images-na.ssl-images-amazon.com/images/I/71Iw18bODyL._AC_SL1090_.jpg" alt="">
              <ion-item lines="none">
                <ion-label>
                  Shawn Mendes
                </ion-label>
              </ion-item>
              <p>Shawn Mendes</p>
              <ion-item lines="none" class="ion-no-padding">
                <ion-badge slot="end" color="medium">2018</ion-badge>
              </ion-item>
            </ion-card>
          </ion-col>



        </ion-row>

      <ion-row>
        <ion-col size="6" class="ion-no-padding">
          <ion-card>
            <img src="https://www.vagalume.com.br/shawn-mendes/discografia/illuminate.jpg" alt="">
            <ion-item lines="none">
              <ion-label>
                Illuminate
              </ion-label>
            </ion-item>
            <p>Shawn Mendes</p>
            <ion-item lines="none" class="ion-no-padding">
              <ion-badge slot="end" color="medium">2017</ion-badge>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col size="6" class="ion-no-padding">
          <ion-card>
            <img src="https://lastfm.freetls.fastly.net/i/u/770x0/4cb6947c3285054651119ffe1e7516d9.jpg" alt="">
            <ion-item lines="none">
              <ion-label>
                Handwritten
              </ion-label>
            </ion-item>
            <p>Shawn Mendes</p>
            <ion-item lines="none" class="ion-no-padding">
              <ion-badge slot="end" color="medium">2015</ion-badge>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>


      </ion-grid>








</ion-content>
